body {
    font-family: Arial, Helvetica,;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(img/pattern.png);
    background-color: #3a98e0;
    padding-top: 60px;
}

.header-container img {
    width: 400px;
    margin: 10px;
    height: 100px; 
}

article h1 {
    font-size: 24px;
    color: #333;
}

.grey {
    font-size: 16px;
    color: #666;
}

article a {
    color: #50b0f9;
    text-decoration: none;
    font-weight: bold;
}

.font {
    font-size: small;
}

.yellow {
    background-color: yellow;
}

ul {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 5px;
}
th, td {
    text-align: left;
    width: 20px;
}
th {
    background-color: #00B0F0;
    color: white;
}
tr:nth-child(even) {
    background-color: #00c8ff43;
}



